# Import

In [1]:
import pandas as pd

# read csv file

In [2]:
file=pd.read_csv('adult.csv')
print(file)

                ?   Some-college          Husband     Male    >50K
0               ?        7th-8th    Not-in-family     Male   <=50K
1               ?   Some-college        Own-child     Male   <=50K
2               ?           10th          Husband     Male   <=50K
3               ?           10th        Own-child   Female   <=50K
4               ?        HS-grad          Husband     Male   <=50K
...           ...            ...              ...      ...     ...
23455   State-gov        HS-grad          Husband     Male   <=50K
23456   State-gov   Some-college    Not-in-family   Female   <=50K
23457   State-gov        7th-8th             Wife   Female   <=50K
23458   State-gov        HS-grad        Own-child   Female   <=50K
23459   State-gov   Some-college   Other-relative   Female   <=50K

[23460 rows x 5 columns]

In [3]:
file.head()

    ?   Some-college         Husband     Male    >50K
0   ?        7th-8th   Not-in-family     Male   <=50K
1   ?   Some-college       Own-child     Male   <=50K
2   ?           10th         Husband     Male   <=50K
3   ?           10th       Own-child   Female   <=50K
4   ?        HS-grad         Husband     Male   <=50K

In [4]:
file.tail()

                ?   Some-college          Husband     Male    >50K
23455   State-gov        HS-grad          Husband     Male   <=50K
23456   State-gov   Some-college    Not-in-family   Female   <=50K
23457   State-gov        7th-8th             Wife   Female   <=50K
23458   State-gov        HS-grad        Own-child   Female   <=50K
23459   State-gov   Some-college   Other-relative   Female   <=50K

## Add header in csv file

In [5]:
file.columns=['sector','education','relation','gender','salary']
file.to_csv('adult_2.csv')

## Null attribute check

In [6]:
print(file.isnull().mean())

sector       0.0
education    0.0
relation     0.0
gender       0.0
salary       0.0
dtype: float64

### Duplicates rows find

In [7]:
file.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
23455     True
23456     True
23457    False
23458     True
23459     True
Length: 23460, dtype: bool

#### Delete duplicate rows

In [16]:
file2=file.drop_duplicates()
file2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 941 entries, 0 to 23457
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sector     941 non-null    object
 1   education  941 non-null    object
 2   relation   941 non-null    object
 3   gender     941 non-null    object
 4   salary     941 non-null    object
dtypes: object(5)
memory usage: 44.1+ KB

In [9]:
file2.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
23273    False
23363    False
23418    False
23438    False
23457    False
Length: 941, dtype: bool

### Finding Unique values in a attribute

#### Sector attribute unique values check

In [10]:
file2['sector'].unique()

array([' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' State-gov'], dtype=object)

####  Education attribute unique values check

In [11]:
file2['education'].unique()

array([' 7th-8th', ' Some-college', ' 10th', ' HS-grad', ' 1st-4th',
       ' Bachelors', ' Masters', ' Assoc-voc', ' 11th', ' 12th',
       ' 5th-6th', ' 9th', ' Assoc-acdm', ' Doctorate', ' Preschool',
       ' Prof-school'], dtype=object)

#### Relation attribute unique values check

In [12]:
file2['relation'].unique()

array([' Not-in-family', ' Own-child', ' Husband', ' Wife', ' Unmarried',
       ' Other-relative'], dtype=object)

#### Gender attribute unique values check

In [13]:
file2['gender'].unique()

array([' Male', ' Female'], dtype=object)

#### Salary attribute unique values check

In [14]:
file2['salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

# Replace values

# Education field 
([' 7th-8th', ' Some-college', ' 10th', ' HS-grad', ' 1st-4th',
       ' Bachelors', ' Masters', ' Assoc-voc', ' 11th', ' 12th',
       ' 5th-6th', ' 9th', ' Assoc-acdm', ' Doctorate', ' Preschool',
       ' Prof-school'])

##### replace [' 1st-4th',' 5th-6th'] to 'Primary'     and     [' 7th-8th', ' 10th',' 11th', ' 12th', ' 9th']  to 'HighSchool'

In [14]:
file3=file2.replace([' 1st-4th',' 5th-6th'], 'Primary')
file3=file3.replace([' 7th-8th', ' 10th',' 11th', ' 12th', ' 9th'],'HighSchool')

In [15]:
file3['education'].unique()

array(['HighSchool', ' Some-college', ' HS-grad', 'Primary', ' Bachelors',
       ' Masters', ' Assoc-voc', ' Assoc-acdm', ' Doctorate',
       ' Preschool', ' Prof-school'], dtype=object)

# Dropping rows

#####  Education attribute
Delete rows having values [' Some-college' , ' HS-grad'  , ' Assoc-voc'  ,  ' Assoc-acdm' ,   ' Preschool'  , ' Prof-school' ]

In [17]:
file3 = file3.drop(file3[file3['education'] == ' Some-college'].index)
file3 = file3.drop(file3[file3['education'] == ' HS-grad'].index)
file3 = file3.drop(file3[file3['education'] == ' Assoc-voc'].index)
file3 = file3.drop(file3[file3['education'] == ' Assoc-acdm'].index)
file3 = file3.drop(file3[file3['education'] == ' Preschool'].index)
file3 = file3.drop(file3[file3['education'] == ' Prof-school'].index)

###### unique value in education attribute is

In [18]:
file3['education'].unique()

array(['HighSchool', 'Primary', ' Bachelors', ' Masters', ' Doctorate'],
      dtype=object)

# Relation field
[' Not-in-family', ' Own-child', ' Husband', ' Wife', ' Unmarried',
       ' Other-relative']

### Delete rows having values [' Not-in-family', ' Own-child', ' Other-relative']

In [19]:
file3 = file3.drop(file3[file3['relation'] == ' Not-in-family'].index)
file3 = file3.drop(file3[file3['relation'] == ' Own-child'].index)
file3 = file3.drop(file3[file3['relation'] == ' Other-relative'].index)

##### Unique values in relation attribute is

In [20]:
file3['relation'].unique()

array([' Husband', ' Wife', ' Unmarried'], dtype=object)

# Sector attribute
[' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' State-gov']

##### Delete rows having ' ?'

In [21]:
file3 = file3.drop(file3[file3['sector'] == ' ?'].index)

#### Unique values in sector attribute

In [22]:
file3['sector'].unique()

array([' Federal-gov', ' Local-gov', ' Private', ' Self-emp-inc',
       ' State-gov'], dtype=object)

# Find each attributes number of unique value count

#### Education attribute

In [23]:
file3['education'].value_counts()

education
HighSchool    90
 Bachelors    38
 Masters      33
 Doctorate    22
Primary       19
Name: count, dtype: int64

#### Sector attribute

In [24]:
file3['sector'].value_counts()

sector
 Private         67
 Local-gov       46
 State-gov       34
 Self-emp-inc    32
 Federal-gov     23
Name: count, dtype: int64

#### Relation attribute

In [25]:
file3['relation'].value_counts()

relation
 Unmarried    80
 Husband      77
 Wife         45
Name: count, dtype: int64

#### Gender attribute

In [26]:
file3['gender'].value_counts()

gender
 Male      112
 Female     90
Name: count, dtype: int64

#### Salary Attribute

In [27]:
file3['salary'].value_counts()

salary
 <=50K    121
 >50K      81
Name: count, dtype: int64

# Total rows in dataset

In [28]:
file3.shape

(202, 5)

In [29]:
file3.info

<bound method DataFrame.info of              sector   education    relation   gender  salary
1835    Federal-gov  HighSchool     Husband     Male   <=50K
1837    Federal-gov   Bachelors     Husband     Male    >50K
1841    Federal-gov     Masters     Husband     Male    >50K
1844    Federal-gov   Bachelors     Husband     Male   <=50K
1855    Federal-gov   Bachelors   Unmarried     Male    >50K
...             ...         ...         ...      ...     ...
23195     State-gov   Doctorate   Unmarried   Female   <=50K
23200     State-gov     Masters        Wife   Female   <=50K
23267     State-gov     Primary     Husband     Male   <=50K
23363     State-gov  HighSchool   Unmarried   Female   <=50K
23457     State-gov  HighSchool        Wife   Female   <=50K

[202 rows x 5 columns]>

# Splitting training and test set

In [30]:
file3 = file3.sample(frac = 1)      ##### shuffle sample 
train =file3.iloc[:102]
test = file3.iloc[102:]
print("training dataset : " ,train.shape)
print("testing dataset : " ,test.shape)

training dataset :  (102, 5)
testing dataset :  (100, 5)

In [31]:
file3['sector'].value_counts()

sector
 Private         67
 Local-gov       46
 State-gov       34
 Self-emp-inc    32
 Federal-gov     23
Name: count, dtype: int64

In [32]:
train['sector'].value_counts()

sector
 Private         31
 State-gov       22
 Local-gov       20
 Self-emp-inc    17
 Federal-gov     12
Name: count, dtype: int64

In [33]:
test['sector'].value_counts()

sector
 Private         36
 Local-gov       26
 Self-emp-inc    15
 State-gov       12
 Federal-gov     11
Name: count, dtype: int64

In [34]:
train['salary'].value_counts()

salary
 <=50K    66
 >50K     36
Name: count, dtype: int64

In [35]:
test['salary'].value_counts()

salary
 <=50K    55
 >50K     45
Name: count, dtype: int64

In [36]:
x_train = train.iloc[:,:-1]
y_train=train.iloc[:,-1]

In [37]:
print(x_train.shape)
print(y_train.shape)

(102, 4)
(102,)

In [38]:
x_test = test.iloc[:,:-1]
y_test=test.iloc[:,-1]
print(x_test.shape)
print(y_test.shape)

(100, 4)
(100,)

# Naive bayes build in train

In [39]:
x_test

              sector   education    relation   gender
2806       Local-gov   Bachelors     Husband     Male
2918       Local-gov     Masters   Unmarried   Female
3887       Local-gov  HighSchool   Unmarried     Male
21068   Self-emp-inc   Doctorate     Husband     Male
5327         Private  HighSchool   Unmarried     Male
...              ...         ...         ...      ...
2811       Local-gov  HighSchool   Unmarried   Female
9773         Private   Doctorate        Wife   Female
1949     Federal-gov  HighSchool   Unmarried   Female
3278       Local-gov   Doctorate     Husband     Male
6086         Private     Masters        Wife   Female

[100 rows x 4 columns]

In [40]:
y_test

2806      <=50K
2918      <=50K
3887      <=50K
21068      >50K
5327      <=50K
          ...
2811      <=50K
9773      <=50K
1949      <=50K
3278       >50K
6086       >50K
Name: salary, Length: 100, dtype: object

In [80]:
class naivebayes:
    def __init__(self,x_train,y_train,x_test,y_test):
        self.x_train=x_train
        self.y_train=y_train
        self.x_test=x_test
        self.y_test=y_test
        
        ##### Unique values in y_train or y_test
        self.y=y_train.unique()
        
        ##### prior_probality
        self.pri_probality=[]
        ##### likelihood probality
        self.probabilities={}
        ##### predicted probalities
        self.predicted_probalities=[]
        
        
    def prior_probality(self):
        length_y=len(self.y)
        length_x_train=len(self.x_train)
        for i in range(length_y):
            count=0
            for j  in range(length_x_train):
                if self.y[i]==self.y_train.iloc[j]:
                    count=count+1
            self.pri_probality.append([self.y[i],(count/length_x_train)])
#         print(self.pri_probality)
        
    def probality_store(self):
        # Initialize an empty dictionary to store the probabilities
       # self.probabilities = {}

        # Iterate over each column in x_train
        for column in x_train.columns:
            # Initialize an empty dictionary for the current column
            column_dict = {}

            # Get the unique values in the current column
            unique_values = x_train[column].unique()

            # Iterate over each unique value in the current column
            for value in unique_values:
                # Initialize an empty dictionary for probabilities of each target value
                target_probabilities = {}

                # Iterate over each unique target value in y_train
                for target_value in y_train.unique():
                    # Count occurrences of (value, target_value) pairs in the dataset
                    count = ((x_train[column] == value) & (y_train == target_value)).sum()

                    # Calculate the probability of (value, target_value) pair
                    probability = count / len(y_train[y_train == target_value])

                    # Store the probability in the dictionary
                    target_probabilities[target_value] = probability

                # Store the dictionary of probabilities for the current value in the column
                column_dict[value] = target_probabilities

            # Store the dictionary of probabilities for the current column in the main dictionary
            self.probabilities[column] = column_dict
#         print(self.probabilities)
#         # Now you can access the probabilities for each category in each column
#         print(probabilities['sector'][' Federal-gov'])

    def predict_data(self):
        for i in range(len(self.x_test)):         ###############  test data values
            pre_result=[]
            for j in range(len(self.y)):          ########  target specific value 
                prob=float(self.pri_probality[j][1])
#                 print("prob",prob)
                unique_values = x_train.columns
                        
                for k in range(len(unique_values)):             ##### column 
                    if(float(self.probabilities[unique_values[k]][self.x_test.iloc[i,k]][self.y[j]]) == 0.0):  ## if any probality zero laplace smoothing apply         
                        print("zero probality:",float(self.probabilities[unique_values[k]][self.x_test.iloc[i,k]][self.y[j]]))
                        prob=prob*((float(self.probabilities[unique_values[k]][self.x_test.iloc[i,k]][self.y[j]])+1)/1+len(self.probabilities[unique_values[k]]))
                    else:   
                        prob=prob*float(self.probabilities[unique_values[k]][self.x_test.iloc[i,k]][self.y[j]])
#                     print("probality",prob)
                pre_result.append(prob)
#             print("pre_result",pre_result)
            self.predicted_probalities.append(pre_result)
         print("predicted probilities",self.predicted_probalities)

    def accuracy(self):
        #### self.predicted_probalities   [-----,------] two probality
        #### self.y_test
        ##### self.y         list unique y_test label
        
        count=0
        for i in range(len(self.y_test)):
            maxi=0.0
            k=0
            for j in range(len(self.y)):      #### highest probality find
               
#              print("print",self.predicted_probalities[i][j])
                if( float(self.predicted_probalities[i][j])> float(maxi)):
                    maxi=float(self.predicted_probalities[i][j])
                    k=j      #specific index highest value
            for j in range(len(self.y)):      #### highest probality find
                if ( (self.y[j]== self.y_test.iloc[i]) & (j==k)):     ### actual == predicted
                    count=count+1
        print("accuracy",count/len(self.y_test))
            

if __name__ == "__main__":
    abc=naivebayes(x_train,y_train,x_test,y_test)
    abc.prior_probality()
    abc.probality_store()
    abc.predict_data()
    abc.accuracy()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 85)

In [73]:
class NaiveBayes:
    def __init__(self, x_train, y_train, x_test, y_test):
        self.x_train = x_train
        self.y_train = y_train
        self.x_test = x_test
        self.y_test = y_test
        self.unique_classes = y_train.unique()
        self.prior_probabilities = {}
        self.feature_probabilities = {}

    def calculate_prior_probabilities(self):
        for class_label in self.unique_classes:
            count = (self.y_train == class_label).sum()
            self.prior_probabilities[class_label] = (count + 1) / (len(self.y_train) + len(self.unique_classes))

    def calculate_feature_probabilities(self):
        for column in self.x_train.columns:
            self.feature_probabilities[column] = {}
            for class_label in self.unique_classes:
                self.feature_probabilities[column][class_label] = {}
                for value in self.x_train[column].unique():
                    count = ((self.x_train[column] == value) & (self.y_train == class_label)).sum()
                    self.feature_probabilities[column][class_label][value] = (count + 1) / (len(self.y_train[self.y_train == class_label]) + len(self.x_train[column].unique()))

    def predict(self):
        predictions = []
        for i in range(len(self.x_test)):
            probs = {}
            for class_label in self.unique_classes:
                prob = self.prior_probabilities[class_label]
                for column in self.x_train.columns:
                    value = self.x_test.iloc[i][column]
                    prob *= self.feature_probabilities[column][class_label].get(value, 1 / (len(self.y_train[self.y_train == class_label]) + len(self.x_train[column].unique())))
                probs[class_label] = prob
            predicted_class = max(probs, key=probs.get)
            predictions.append(predicted_class)
        return predictions

    def accuracy(self, predictions):
        correct = (predictions == self.y_test).sum()
        return correct / len(self.y_test)

if __name__ == "__main__":
    nb = NaiveBayes(x_train, y_train, x_test, y_test)
    nb.calculate_prior_probabilities()
    nb.calculate_feature_probabilities()
    predictions = nb.predict()
    accuracy = nb.accuracy(predictions)
    print("Accuracy:", accuracy)

Accuracy: 0.55